{% extends "base.html" %}

{% block content %}
{% if object_list %}
{% for a in object_list %}
<div class="fch">
  <h1><a href="/animal/{{ a.id }}">{{ a.race }} de {{ a.age }} a&ntilde;o{{ a.age|pluralize }}
    </a> {{ a.name }} <span class="adlim">{{ a.adoption_limit }}</span></h1>
  <span class="date">A&ntilde;adido el {{ a.pub_date|date:"SHORT_DATE_FORMAT" }} 
    por {{ a.publisher }} </span>
  <p>{{ a.description }}</p>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
